.sign-up
  .form-sign-up
    = image_pack_tag ('logo.png')
    h2 Sign up to see photos and videos from your friends.
    button.btn.btn-primary.btn-fabebook
      .sns-facebook
        = image_pack_tag ('facebook-icon.png'), class: 'icon-facebook'
        p.connect-facebook Log in with Facebook
    .or
      .border-secondary
      h5 OR
      .border-secondary
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render 'devise/shared/error_messages', resource: resource
      .field
        span#span_user_email.placeholder Email
        = f.email_field :email
      .field
        span#span_user_fullname.placeholder Fullname
        = f.text_field :fullname
      .field
        span#span_user_user_name.placeholder Username
        = f.text_field :user_name
      .field
        span#span_user_password.placeholder Password
        = f.password_field :password
      .actions
        = f.date_field :birthday
      .actions
        = f.button 'Sign up', class: 'btn btn-primary'
      .note-sign-up
        h5
          | By signing up, you agree to our
          b Terms, Data Policy
          | and
          b Cookies Policy
          |
  .form-group
    p
      | Have an account? #{link_to "Log in", new_session_path(resource_name)}
  = render 'layouts/get_app'
