<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.fullname %>
      </h1>
      <h1>
        <%= @user.email %>
      </h1>
      <h1>
        <%= image_pack_tag ('default-avatar.png'), class: 'mr-1' %>
      </h1>
    </section>
  </aside>
</div>
