p
  | Hi #{@resource.user_name},
p Sorry to hear you’re having trouble logging into Instagram. We got a message that you forgot your password. If this was you, you can get right back into your account or reset your password now.
p= link_to 'Reset your password', edit_password_url(@resource, reset_password_token: @token, locale: I18n.locale)
p If you didn’t request a login link or a password reset, you can ignore this message and learn more about why you may have received it.
p Only people who know your Instagram password or click the login link in this email can log into your accoun
